* {
	box-sizing: border-box;
}

body {
	font-family: 'Humbug', sans-serif;
	font-weight: 300;
	font-size: 17px;
}

a {
	color: #666;
	text-decoration: none;
}

a:hover {
	color: #3276b1;
}

img {
	max-width: 100%;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	font-weight: 300;
}

h1 {
	clear: both;
	color: #3276b1;
	text-align: center;
	font-size: 1.6em;
	font-weight: 200;
}

h2 {
	font-size: 1.15em;
}

h3 {
	font-size: 1.1em;
	color: #333;
	font-weight: 600;
}

h4 {
	font-size: 1em;
	font-weight: 400;
	color: #559;
}

h6 {
	font-size: 0.8em;
	margin: 0;
	padding: 0;
	color: #666;
}

/* Heading bands */
.band {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 2px 0;
	margin-top: 10px;
}

.band-red {
	background: #fcc;
}

.band-purple {
	background: #ddf;
}

.band-green {
	background: #cfc;
}

.band-yellow {
	background: #ffc;
}

.band-orange {
	background: #fdc;
}

.band-gray {
	background: #eee;
}

.band-blue {
	background: #ddedf6;
}

/* Header */
header {
	text-align: center;
	padding: 8px 0;
}

header nav ul {
	display: block;
	padding: 0;
	margin: 0;
	margin-top: 10px;
}

header nav li {
	display: inline-block;
	font-family: 'Humbug', sans-serif;
	font-weight: 300;
	font-size: 1em;
	list-style-type: none;
	padding: 5px;
	color: #888;
}

header nav .highlighted a {
	color: #3276b1;
}

header nav .highlighted a:hover {
	color: #005580;
}

#logo {
	color: #333;
	font-size: 2em;
}

#logo img {
	width: 45px;
	vertical-align: middle;
	padding-right: 10px;
}

/* Footer */
footer {
	text-align: right;
	font-size: 0.9em;
	padding: 5px;
	border-top: 1px solid #ccc;
}

footer li {
	display: inline-block;
	list-style-type: none;
	padding: 0 10px;
}

footer #logo {
	margin-top: -15px;
}

.container {
	width: 90%;
	margin: 0 auto;
}

#screenshot {
	max-height: 450px;
	padding: 10px;
}

.call-to-action {
	font-size: 1em;
	font-weight: 300;
	padding: 5px 0;
}

.button {
	display: inline-block;
	border-radius: 5px;
	padding: 8px 20px;
	background: #3276b1;
	font-family: 'Humbug', sans-serif;
	margin: 0 5px;
	color: #fff;
	text-align: center;
	vertical-align: middle;
}

.button-link {
	margin: 0 5px;
	color: #3276b1;
}

.button-link:hover {
	color: #005580;
}

.button:hover {
	color: #fff;
	background: #005580;
	cursor: pointer;
}

.content-box {
	height: 250px;
	background: #7e98ad;
	border-radius: 10px;
}

/* Features */
.features {
	text-align: center;
	/* background-color: #ddedf6; */
	/*background: #ddedf6;*/
	padding: 0 0;
	/*border-top: 1px solid #ccc;*/
}

.features h2 {
	padding: 20px 20px 25px;
	margin: 0;
	font-size: 20px;
}

.features section {
	text-align: left;
	overflow: auto;
	margin: 0 auto;
	/*border-top: 1px solid #ccc;*/
	padding: 30px 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.features section:nth-of-type(1) {
	border-bottom: 0px solid #ccc;
	border-top: 0;
	padding-top: 0;
	margin-top: 0;
}

.features section:nth-of-type(even) {
	background-color: #fff;
}

.feature-img {
	text-align: center;
}

.feature-box {
	width: 450px;
	max-width: 100%;
	margin: 0 auto;
}

.feature-box h3 {
	font-size: 1.27em;
	color: #24292e;
	font-weight: 600;
}

.features img {
	width: 425px;
	max-width: 100%;
}

.download-options {
	vertical-align: top;
}

.download-options h2 {
	margin-bottom: 0;
}

.download-options ul {
	padding: 0;
	list-style-type: none;
}

.download-options li {
	display: inline-block;
	padding: 0 10px;
	font-size: 1.1em;
}

article {
	text-align: center;
	padding: 10px 0;
}

.docs article a {
	color: #944;
	font-weight: 300;
}

.docs article a:hover {
	color: #333;
}

.docs section {
	text-align: left;
	color: #000
}

.terminal {
	font-family: monospace;
	font-size: 0.8em;
	width: 100%;
	background-color: #444;
	color: #fff;
	padding: 20px;
	margin-bottom: 20px;
}

.docs nav {
	display: none;
}

.feature-block {
	display: inline-block;
	margin: 10px 0;
}

.feature-block i {
	float: left;
	vertical-align: middle;
	margin: 10px 0;
}

.feature-block h4, .feature-block p {
	margin: 5px 0;
	margin-left:  60px;
}

.feature-block .fa {
	color: #888;
}

.logo-text {
	font-weight: 200;
}

.feature-presence {
	width: 12%;
	border: 4px solid #fff;
	text-align: center;
}

.feature-name {
	padding: 6px 0px;
	padding-right: 5px;
}

.feature-yes {
	background: #d2edcd;
	color: #383;
	font-size: 0.9em;
}

.feature-no {
	background: #d2b0b0;
	color: #833;
	font-size: 0.9em;
}
