* {
	box-sizing: border-box;
}

body {
	font-family: 'Humbug', sans-serif;
	font-weight: 200;
}

a {
	color: #888;
	text-decoration: none;
}

a:hover {
	color: #000;
}

h1 {
	font-size: 30px;
	font-weight: 200;
}

h2 {
	font-size: 25px;
	font-weight: 300;
	margin: 10px 0;
}

#logo {
	font-family: 'Humbug', sans-serif;
	color: #333;
	font-size: 40px;
	height: 45px;
	width: auto;
}

#header {
	height: 45px;
}

.column-left {
	float: left;
}

.column-right {
	float: right;
}

.container {
	width: 1000px;
	text-align: center;
	margin: 15px auto;
}

.feature .container {
	width: 950px;
	text-align: left;
}

#screenshot {
	height: 450px;
}

.nav-menu li {
	display: inline-block;
	vertical-align: center;
	font-family: 'Humbug', sans-serif;
	font-weight: 300;
	font-size: 20px;
	list-style-type: none;
	margin-left: 15px;
	color: #888;
}

.nav-menu .highlighted a {
	color: #3276b1;
}

.nav-menu .highlighted a:hover {
	color: #005580;
}

.tagline {
	clear: both;
	color: #3276b1;
	font-size: 35px;
	font-family: 'Humbug', sans-serif;
	font-weight: 200;
	margin: 0 auto;
	padding: 10px 0;
	text-align: center;
}

.tagline .subtitle {
	font-size: 20px;
}

.call-to-action {
	font-size: 20px;
	font-weight: 300;
	padding: 5px 0;
}

.button {
	display: inline-block;
	border-radius: 5px;
	padding: 8px 20px;
	background: #3276b1;
	font-family: 'Humbug', sans-serif;
	font-size: 20px;
	margin: 0 5px;
	color: #fff;
	text-align: center;
	vertical-align: middle;
}

.button-link {
	margin: 0 5px;
}

.button:hover {
	color: #fff;
	background: #005580;
	cursor: pointer;
}

.content-box {
	height: 250px;
	background: #7e98ad;
	border-radius: 10px;
}

#features-pitch {
	text-align: center;
	background-color: #ddedf6;
	padding: 5px 0;
}

.feature  {
	text-align: left;
	overflow: auto;
	font-size: 20px;
	margin: 0 auto;
	border-top: 1px solid #ccc;
	padding: 20px;
}

.feature:nth-of-type(1) {
	border: 0;
}

.feature:nth-of-type(even) {
	background-color: #eee;
}

.feature-box {
	float: right;
	width: 450px;
}

.feature:nth-child(odd) .feature-box {
	float: left;
}

.feature:nth-child(odd) .feature-img {
	float: right;
}

.feature-illustration {
}

.feature .feature-img {
	float: left;
}

.feature img {
	width: 425px;
}