/* Media queries */
@media (min-width: 600px) {
	header {
		display: block;
		height: 56px;
		padding: 8px 0;
	}

	header ul {
		vertical-align: top;
		padding: 0;
		line-height: 50px;
	}

	header .downloads {
		display: block;
		padding-left: 40px;
	}

	header nav ul {
		display: inline-block;
		float: right;
		margin: 0 auto;
	}

	#logo {
		float: left;
		color: #333;
		font-size: 1.6em;
		line-height: 50px;
		width: auto;
	}

	.box {
		display: inline-block;
	}

	.half {
		width: 49%;
	}
}

@media (min-width: 1050px) {
	.container {
		width: 1000px;
	}

	.left {
		padding-right: 40px;
	}

	.feature-block {
		display: inline-block;
		vertical-align: top;
		width: 49%;
	}

	.feature-box {
		float: right;
	}

	.features .container {
		text-align: left;
		width: 950px;
	}

	.features section:nth-child(odd) .feature-box {
		float: left;
	}

	.features section:nth-child(odd) .feature-img {
		float: right;
	}

	.features section .feature-img {
		float: left;
	}

	/* Server page */
	.docs nav {
		float: right;
		display: block;
		vertical-align: top;
	}
	
	.docs a:hover {
		color: #3276b1;
	}

	.docs nav a:hover::before {
		position: relative;
		content: '>';
		left: -0.5em;
		margin-left: -0.5em;
		float: left;
	}

	.docs nav ul {
		list-style-type: none;
		margin: 20px 0;
		font-size: 1em;
	}

	.docs nav ul ul {
		list-style-type: none;
		margin: 2px 0;
		font-size: 0.9em;
	}

	.docs nav li {
		padding-bottom: 2px;
	}

	.docs nav li a {
		color: #666;
	}

	.docs article {
		display: block;
		width: 70%;
	}
}